@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #A7A4A5;
  text-decoration: none;
}

a:hover {
  color: #cc9744;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.btn {
  border-radius: 5px;
}

.block__title {
  font-family: "Playfair Display", serif;
  font-size: calc(25px + 30 * (100vw - 400px) / 1920);
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;
}

.section {
  padding-top: calc(25px + 60 * (100vw - 400px) / 1920);
  padding-bottom: calc(25px + 60 * (100vw - 400px) / 1920);
}

.questions {
  background-image: url(../img/questions-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.block__title-titlelight {
  background: -o-linear-gradient(239deg, #C38B34 27.99%, #ECC47E 80.38%);
  background: linear-gradient(211deg, #C38B34 27.99%, #ECC47E 80.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block-content {
  display: none;
  margin: 0;
  list-style: none;
  padding-left: 20px;
}

#block1 .title, #block2 .title, #block3 .title {
  font-size: 18px;
  cursor: pointer;
}

.block-content.open {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 26px;
}

.faq {
  border-radius: 5px;
  background: #FFF;
  font-size: calc(14px + 4 * (100vw - 400px) / 1920);
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.faq .title {
  padding: 19px 25px;
}
.faq-btn {
  background: -o-linear-gradient(239deg, #C38B34 27.99%, #ECC47E 80.38%);
  background: linear-gradient(211deg, #C38B34 27.99%, #ECC47E 80.38%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 5px;
}/*# sourceMappingURL=style5.css.map */